version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      production-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "pytest*"
          - "ruff"
          - "black"
          - "mypy"
      dev-dependencies:
        patterns:
          - "pytest*"
          - "ruff"
          - "black"
          - "mypy"
    commit-message:
      prefix: "chore(deps)"
    open-pull-requests-limit: 10
